*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 36px;
}

.container {
  width: 450px;
  margin: 0 auto;
}

.btn {
  flex: 1;
  font-size: 16px;
  padding: 8px 12px;
  text-align: center;
  background-color: #ebe9e3;
  box-shadow: 3px 5px 10px gainsboro;
  border: 1px solid gray;
  border-radius: 5px;
}

.btn:hover {
  background-color: #f1f0ec;
}

.row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.digit-btns {
  display: flex;
  flex-direction: column;
}

.operator-btn {
  background-color: #f5c639;
  border: 1px solid gray;
}

.operator-btn:hover {
  background-color: #ffbb00;
}

.clear-btn, .erase-btn {
  background-color: #f59a39;
  border: 1px solid gray;
}
.clear-btn:hover, .erase-btn:hover {
  background-color: #ff8809;
  border: 1px solid gray;
}